<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    async function getCourtName()
    {
        let SportName=document.getElementById("select");
        let index=SportName.selectedIndex;
        let Court=document.getElementById("head");
        let table = document.getElementById("table");
        let rows = table.rows.length;
        //alert();
        //Court.innerText= "33";
        // let url = 'http://localhost:8080/reservation/getsportstar';
        // let url = 'http://localhost:8080/overview/users';
        let url_1 ='http://localhost:8080/reservation/SportName='+SportName.options[index].value;
        // let url_2 = 'http://localhost:8080/reservation/CourtId='+
        try {
            let response = await fetch(url_1, {
                method: 'GET'});

             let court  = await response.json();
             // let court_json = JSON.parse(court);
             // let court_parse = JSON.parse(court);
             // let court_list= court.Name.split(",");
            // let court_list= court.Name;
             // let length = court_list.length;
             if (rows!=0){
                 table.innerText="";
             }
            //  for (let i = 0; i < length; i++) {
            //      let tr=document.createElement("tr");
            //      let content = court_list[i];
            //      content = content.replace("\"","").replace("\"","");
            //      content = content.replace("[","").replace("]","");
            //      tr.innerHTML = content;
            //
            //      table.appendChild(tr);
            // }
            for (let i = 0; i < Object.keys(court).length; i++) {
                console.log(court);
                Court.innerHTML = court[0].name;
            }

             table.style.display = "inline";
            // Court.innerHTML = SportName;
            // Court.setAttribute(response.text());
        } catch (error) {
            Court.innerHTML= error.toString();
            console.log('Request Failed', error);
        }
    }
    async function getReservation(){
        let reservation_url = "http://localhost:8080/reservation/userid=1511";
        let reservation_table = document.getElementById("Reservation_table");
        let reservation_rows = reservation_table.rows.length;
        alert();
        try {
            let response = await fetch(reservation_url, {
                method: 'GET'});
            let reservation_list  = await response.text();
            reservation_list = reservation_list.split(",");
            if (reservation_rows!=0){
                reservation_table.innerText="";
            }
            for (let i = 0; i < length; i++){
                 let tr=document.createElement("tr");
                 let reservation = reservation_list[i];
                 reservation = reservation.replace("\"","").replace("\"","");
                 reservation = reservation.replace("[","").replace("]","");
                 tr.innerHTML = reservation;

                reservation_table.appendChild(tr);
            }

        }
        catch(error) {
            console.log('Request Failed', error);
        }
    }
    await getReservation();
</script>
<!--<span th:text="${key}"></span>-->
<!--<select name="departmentCode" class="b_select" >-->
<!--    <option value="">请选择</option>-->
<!--    <option th:each="item:${Location_List}"-->
<!--            th:value="${item.Location}" th:text="${item.Location}"-->
<!--            th:selected="${userInfo.departmentCode==item.Location}">-->
<!--    </option>-->
<!--</select>-->
<div class="Court">
<form action="#" th:object="${Sport}" method="GET" th:action="@{'/hi'}">
    <select id = "select", name="SportName" class="b_select" th:field="*{SportName}">
        <option value="">Please Select</option>
        <option th:each="item:${SportName_List}"
                th:value="${item}"
                th:text="${item}"
        >
        </option>
<!--        <input type="submit">-->

<!--        <input type="submit", onclick=getCourtName>-->

    </select>

<!--    -->
<!--    <select name="departmentCode" class="b_select" th:field="" >-->
<!--        <option value="">请选择</option>-->
<!--        <option th:each="item:${Location_List}"-->
<!--                th:text="${item.Location}"-->
<!--                >-->
<!--        </option>-->
<!--    </select>-->
<!--    <input type="text" id="newMessageText" name="newMessageText" th:field="*{item.Location}">-->
<!--    <input type="submit">-->

</form>
    <button onclick="getCourtName()">Submit</button>
    <h1 id = "head"></h1>
    <table id ="table"   >
        <tr>
            <th >The table header</th>
        </tr>
        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>
<!--    The reservation Table-->
    <table id ="Reservation_table">
        <tr>
            <th >My Reservation</th>
        </tr>
        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>


</div>
<body>

</body>
</html>